/* 47px is the height of each Ant accordion header */
/* 2.75rem is the height of the site header */
#chess-left-menu .ant-collapse-content {
	/* min-height: calc(100vh - 47px - 47px - 2.75rem);
	max-height: calc(100vh - 47px - 47px - 2.75rem); */
	max-height: 800px;
	overflow-y: auto;
}

#chess-right-menu .ant-collapse-content {
	max-height: calc(100vh - 47px - 46px - 2.75rem - 500px);
	overflow-y: auto;
}

#chess-right-menu #movelist {
	overflow-y: auto;
}

#repertoire-menu {
	background: none;
}

#repertoire-menu .ant-menu-sub.ant-menu-inline {
	background: none;
}

#repertoire-menu .ant-menu > .ant-menu-item {
	padding-left: 2em !important;
}

#repertoire-menu .ant-menu-item-group-list > .ant-menu-item {
	width: 100%;
}

#repertoire-menu .ant-menu-item-selected,
#repertoire-menu .ant-menu-item-group-title {
	background: rgba(0, 0, 0, 0.15);
	color: #10B981;
	position: relative;
}

#repertoire-menu .ant-menu-item-group-title {
	line-height: 40px;
	padding: 0 16px 0 2em;
	margin: 4px 0;
}

#repertoire-menu .ant-menu-item-group-title:after {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	border-right: 3px solid #10B981;
	content: "";
}

#repertoire-menu .ant-menu-submenu-selected .ant-menu-submenu-title,
#repertoire-menu .ant-menu-item-selected a,
#repertoire-menu .ant-menu-submenu-title:hover,
#repertoire-menu .ant-menu-item:hover a {
	color: #10B981;
}

#repertoire-menu .ant-menu-item-selected:after {
	border-right: 3px solid #10B981;
}

#repertoire-menu .ant-menu-submenu-title {
	background: rgba(255, 255, 255, 0.07);
}

#tree-panel li {
	position: relative;
}

#tree-panel svg {
	position: relative;
	z-index: 1;
}

#tree-panel ul > li.branch:before {
	border-radius: 0 0.3em 0 0;
	border-bottom: 0;
	border-left: 0;
	border-right: 1px solid #777;
	border-top: 1px solid #777;
	width: 0.6em;
	height: calc(100% - 2em);
	position: absolute;
	display: block;
	top: 0.7em;
	left: 0.2em;
	content: "";
}

#tree-panel > div > div > ul > li.branch:after {
	border-radius: 0 0.3em 0 0;
	border-bottom: 0;
	border-left: 0;
	border-right: 1px solid #777;
	border-top: 0;
	width: 0.6em;
	height: 100%;
	position: absolute;
	display: block;
	top: 1.1em;
	left: -0.95em;
	content: "";
}

#tree-panel > div > div > ul:not(:first-of-type) > li.branch:after {
	border-radius: 0 0 0 0;
	border-bottom: 0;
	border-left: 0;
	border-right: 1px solid #777;
	border-top: 0;
	width: 0.6em;
	height: (100% + 2.3em);
	position: absolute;
	display: block;
	top: -1.2em;
	left: -0.95em;
	content: "";
}

#tree-panel ul > li.leaf:before {
	border-radius: 0 0 0 0.3em;
	border-bottom: 1px solid #777;
	border-left: 1px solid #777;
	border-top: 0;
	border-right: 0;
	width: 1em;
	height: 1em;
	position: absolute;
	display: block;
	top: -0.1em;
	left: -1.4em;
	content: "";
}

#tree-panel > div > div > ul > li.leaf:before {
	border-radius: 0 0 0 0.3em;
	border-bottom: 1px solid #777;
	border-left: 1px solid #777;
	border-top: 0;
	border-right: 0;
	width: 1em;
	height: calc(100% + 1em);
	position: absolute;
	display: block;
	top: -1.7em;
	left: -1.4em;
	content: "";
}