<!DOCTYPE html>
<html style="margin: 0; padding: 0; font-size: 16px;">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	</head>
	<body background="#000036" style="margin: 0; padding: 0;">
		<div style="width: 100%; padding: 4rem; font-family: Arial, Helvetica, sans-serif; background: #000036; color: rgba(255, 255, 255, 0.8);">
			<div id="logo" style="width: 100%; text-align: center;">
				<a target="_blank" href="<%= ENV["REACT_APP_PUBLIC_URL"] %>">
					<img src="<%= ENV["REACT_APP_PUBLIC_URL"] %>/assets/images/business/logo1024-transparent.png" alt="Chess HQ" style="width: 100%; max-width: 650px;"/>
				</a>
			</div>
			<div id="content" style="padding-top: 2rem; margin: 0 auto; width: 100%; max-width: 650px;">
				<%= yield %>
			</div>
			<div id="footer" style="width: 100%; padding-top: 2rem; font-size: 0.625rem; text-align: center; color:rgba(255, 255, 255, 0.3);">
				Copyright &copy; 2021-2022 Chess HQ, LLC | <a target="_blank" href="<%= ENV["REACT_APP_PUBLIC_URL"] %>/dashboard/notifications" style="color: #177ddc;">Notification Preferences</a> | <a target="_blank" href="https://twitter.com/ChessHQcom" style="color: #177ddc;">Twitter</a>
			</div>
		</div>
	</body>
</html>
