.ant-row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.ant-col:first-child {
	padding-left: 0 !important;
}

.ant-col:last-child {
	padding-right: 0 !important;
}

body .ant-btn-default {
	background-color: var(--green-600);
	border-color: var(--green-600);
}

body .ant-btn-default:hover,
body .ant-btn-default:focus,
body .ant-btn-default:active {
	background-color: var(--green-400);
	border-color: var(--green-400);
	color: rgba(0, 0, 0, 0.8);
}

body .ant-btn-ghost:hover {
	color: var(--green-500);
	border-color: var(--green-500);
}

body .ant-btn-ghost:active,
body .ant-btn-ghost:focus {
	color: var(--green-300);
	border-color: var(--green-300);
}

body .ant-modal-content,
body .ant-modal-header,
body .ant-select-dropdown,
body .ant-dropdown-menu {
	background: var(--gray-800);
}

body .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
	background: var(--black-15o);
}

body .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional):before {
	color: var(--red-500);
}