.ant-row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.ant-col:first-child {
	padding-left: 0 !important;
}

.ant-col:last-child {
	padding-right: 0 !important;
}

body .ant-btn-default {
	background-color: #059669;
	border-color: #059669;
}

body .ant-btn-default:hover,
body .ant-btn-default:focus,
body .ant-btn-default:active {
	background-color: #34D399;
	border-color: #34D399;
	color: rgba(0, 0, 0, 0.8);
}

body .ant-btn-ghost:hover {
	color: #10B981;
	border-color: #10B981;
}

body .ant-btn-ghost:active,
body .ant-btn-ghost:focus {
	color: #6EE7B7;
	border-color: #6EE7B7;
}