body {
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: #374151 !important;
}

::-webkit-scrollbar-thumb {
	background: #065f46 !important;
}

::-webkit-scrollbar-thumb:hover {
	background: #064E3B !important;
}