:root {
	--chess-dark-coord: #c5a076;
	--chess-light-coord: #ecdab9;
	--black-15o: rgba(0, 0, 0, 0.15);
	--white-5o: rgba(255, 255, 255, 0.05);
	--white-7o: rgba(255, 255, 255, 0.07);
	--gray-600: theme("colors.gray.600");
	--gray-700: theme("colors.gray.700");
	--gray-800: theme("colors.gray.800");
	--gray-900: theme("colors.gray.900");
	--red-500: theme("colors.red.500");
	--green-300: theme("colors.green.300");
	--green-400: theme("colors.green.400");
	--green-500: theme("colors.green.500");
	--green-600: theme("colors.green.600");
	--tree-line: #777;
}

body {
	overflow-x: hidden;
}

body .ant-collapse > .ant-collapse-item,
body .bottom-border {
	border-bottom: 1px solid #434343;
}

body .top-border {
	border-top: 1px solid #434343;
}

body .padded-section {
	padding: 12px 16px;
}

body .firebase-login .ant-modal-body {
	padding: 0;
}

body .firebase-login .ant-modal-close-x {
	color: #000;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: #374151 !important;
}

::-webkit-scrollbar-thumb {
	background: #065f46 !important;
}

::-webkit-scrollbar-thumb:hover {
	background: #064E3B !important;
}