<p>
	We are pleased to announce the release of the Bishop plan at Chess HQ!
</p>
<p>
	<strong><a href="<%= ENV["REACT_APP_PUBLIC_URL"] %>/upgrade/" target="_blank" style="color: #059669;">Upgrade your account</a></strong> with these features for only $2.99 per month:
	<ul>
		<li>10,000 repertoire positions</li>
		<li>30 move depth in opening database</li>
		<li>Copy 10 public repertoires</li>
		<li>Create 100 collections with 1,000 games per collection</li>
		<li>Save master games to collections</li>
		<li>Search for master games by player name(s) and exact date</li>
		<li>Download master games as PGN files</li>
	</ul>
</p>