<p>
	We are pleased to announce the release of the Rook plan at Chess HQ!
</p>
<p>
	<strong><a href="<%= ENV["REACT_APP_PUBLIC_URL"] %>/upgrade/" target="_blank" style="color: #059669;">Upgrade your account</a></strong> with these features for only $5.99 per month:
	<ul>
		<li>30,000 repertoire positions</li>
		<li>Unlimited move depth in opening database</li>
		<li>Copy 25 public repertoires</li>
		<li>Import games from Chess.com and Lichess to collections</li>
		<li>Create 500 collections with 2,000 games per collection</li>
		<li>Download whole collections as PGN files</li>
		<li>Save master games to collections</li>
		<li>Search for master games by player name(s), exact date, multiple FENs, and PGN</li>
		<li>Download master games as PGN files</li>
	</ul>
</p>
<p>
	We will also soon be implementing analysis for your collections (and Chess.com/Lichess games) against your repertoires. For example, we will provide deviation reports where the opening in your collection game(s) deviate from the repertoires you are studying. We will provide more information about these features soon!
</p>